---
import type { GetStaticPaths } from "astro";
import BlogLayout from "../../layouts/BlogLayout.astro";
import { getCollection } from "astro:content";
import { render } from "astro:content";
import { Image } from "astro:assets";

export const getStaticPaths = (async () => {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const PostData = post.data;

const { Content, headings } = await render(post);
---

<BlogLayout title={PostData.title}>
  <Image
    class="my-10 object-cover w-full h-[250px] rounded-md"
    src={PostData.image}
    width={600}
    height={220}
    quality={"high"}
    alt={PostData.title}
  />

  <h3>Table of contents</h3>
  <ul>
    {
      headings.map((heading) => (
        <li>
          <a href={`#${heading.slug}`}>{heading.text}</a>
        </li>
      ))
    }
  </ul>
  <Content />

  <div class="my-20">
    <a href="#go-back" class="text-red-400 underline"> back to top</a>
  </div>
</BlogLayout>
